<head>
    <title>History</title>
    <style>
        /* Create two equal columns that floats next to each other */
        .column {
        float: left;
        width: 48%;
        padding: 10px;
        /* height: 300px; Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
    </style>
</head>
<body>
    <form action="/history" method="post">
        <h1 style="background-color: lightsalmon;"><a href="/">Sun Calculator</a> | Plot and calculation history 
        <input type="submit" name="mode" value="Show plot history">
        <input type="submit" name="mode" value="Show calculation history"></h1>
    </form>
    {% if mode == "Show plot history" %}
        <form action="/history" method="post">
            <h2>-- Showing all {{num}} plots --
            <input type="submit" name="clearGraphs" value="Clear all graphics"></h2>
        </form>
    {% else %}
        <form action="/history" method="post">
            <h2>-- Showing all {{num}} calculations --
            <input type="submit" name="clearCalcs" value="Clear all calculations"></h2>
        </form>
    {% endif %}
    <div class="row">
        <div class="column" style="background-color: lightcyan;">
            {% if mode == "Show plot history" %}
                {% for h in hpair[0] %}
                <b>Plot {{h["Num"]}}: </b>{{h["plotType"]}} <br>
                <textarea readonly cols="75" rows="2">{% for i in h["plotInfo"] %}{{i}}, {% endfor %}</textarea>
                <br><img src="{{h["plotName"]}}" alt="plot"><br>
                {% endfor%}
            {% else %}
                {% for h in hpair[0] %}
                <b>Calculation no.{{h["Num"]}}</b><br>
                Questions : <textarea readonly cols="65" rows="2">{{h["Question"]}}</textarea><br>
                Conditions: <textarea readonly cols="65" rows="2">{{h["Conditions"]}}</textarea><br>
                <textarea readonly cols="77" rows="2">{{h["Result"]}}</textarea><br>
                {% endfor %}
            {% endif %}
        </div>
        <div class="column" style="background-color: aliceblue;">
            {% if mode == "Show plot history" %}
                {% for h in hpair[1] %}
                <b>Plot {{h["Num"]}}: </b>{{h["plotType"]}} <br>
                <textarea readonly cols="75" rows="2">{% for i in h["plotInfo"] %}{{i}}, {% endfor %}</textarea>
                <br><img src="{{h["plotName"]}}" alt="plot"><br>
                {% endfor%}
            {% else %}
                {% for h in hpair[1] %}
                <b>Calculation no.{{h["Num"]}}</b><br>
                Questions : <textarea readonly cols="65" rows="2">{{h["Question"]}}</textarea><br>
                Conditions: <textarea readonly cols="65" rows="2">{{h["Conditions"]}}</textarea><br>
                <textarea readonly cols="77" rows="2">{{h["Result"]}}</textarea><br>
                {% endfor %}
            {% endif %}
        </div>
    </div>


</body>