<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sun Calculator</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 25px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    </style>
</head>

<body style="background-image: url('../static/Image/yearth.png');">
    <!-- style="background-image: url('../static/Image/yearth.png');" -->
    <h2 align="center">Y-EARTH | Interactive Sun Calculator 交互式太阳时空信息计算器</h2>
    <h3 style="color: lightgreen;">** Go to <a href="https://yingyan797.github.io/no-backend/y-astronomy">[my frontend apps]</a> to see a (simpler) working version of Sun Calculator **</h3>
    <div class="row">
        <div class="column" style="background-color:lightgoldenrodyellow;">
            <form action="/information" id="guide" method="post" target="_blank"></form>
            <form action="/information" method="post">
                <input type="submit" name="info" form="guide" value="User guide">
                <input type="submit" name="info" value="More information">
                <input type="submit" name="info" value="Contact us">
            </form> 
            <form action="/maps" method="post" name="place">
                <label for="location">Find or register a place</label>
                <input type="text" name="location">
                <button type="submit">Continue</button>
                <a href="/maps"><b>See registered places</b></a>
            </form>
            <form action="/" method="post" id="questions">
                <h2>Describe all requirements for calculation/plotting</h2>
                - Upload a file of descriptions (.txt from "static/questions/") <input type="file" name="qfile"><br>
                - Or write all requirements here, each one in a new line: </b><br>
                <textarea name="taskDesc" rows="5" cols="85">{% if tasks %}{{tasks}}{% endif %}</textarea><br>
                <input type="submit" name="clearDesc" value="Clear and write again">
                <button type="submit"><b>Summarize file/texts>></b></button>
            </form>
            <form action="/" method="post" id="details">
                <h2>Alternatively, fill in the details manually.</h2>
                <b>--Select 1 or more to calculate/plot as dependent variable(s)--</b><br>
                Sunrise<input type="checkbox" name="Sunrise">
                ; Sunset<input type="checkbox" name="Sunset">
                ; Solar Noon<input type="checkbox" name="Noon">
                ; Sun Height<input type="checkbox" name="QHeight">
                ; Sun Direction<input type="checkbox" name="QDirection">
                ; Date<input type="checkbox" name="QDate">
                ; Local Time<input type="checkbox" name="QTime">
                ; Time Zone<input type="checkbox" name="TZ">
                ; Latitude<input type="checkbox" name="QLat">
                <br><b>**For plotting only** What is the independent variable?</b><br>
                Date<input type="checkbox" name="PDate">
                ; Local Time<input type="checkbox" name="PTime">
                ; Latitude<input type="checkbox" name="PLat">
                ; Altitude<input type="checkbox" name="PAlt"><br><br>
                
                <b>--Given conditions (fill in those needed)--</b><br>
                Latitude: <input type="number" step="0.01" min="-90" max="90" name="Latitude"></label>
                    <label for="North">North</label><input type="radio" name="NS" value="North"><label for="South">;South</label><input type="radio" name="NS" value="South">
                , Longitude: <input type="number" step="0.01" min="-180" max="180" name="Longitude"></label> 
                    <label for="East">East</label><input type="radio" name="EW" value="East"><label for="West">;West</label><input type="radio" name="EW" value="West"><br>
                Altitude: <input type="number" step="0.01" min="0" name="Altitude">
                m<input type="radio" name="unit" value="m">; km<input type="radio" name="unit" value="km">; ft<input type="radio" name="unit" value="ft">
                , Date: Month <input type="number" min="1" max="12" name="Month">
                / Day <input type="number" min="1" max="31" name="Day"><br>
                Local Time <input type="number" min="0" max="24" name="Hour">
                : <input type="number" min="0" max="59" name="Minute">
                : <input type="number" min="0" max="59" name="Second">
                <label for="GMT">Time Zone GMT </label><input type="number" min="-12" max="12" name="GMT"><br>   
                <label for="Height">Sun Height Angle: </label><input type="number" step="0.01" min="-90" max="90" name="Height">
                <label for="Direction">Sun Direction Angle: </label><input type="number" step="0.01" min="0" max="360" name="Direction"><br><br>
                <button type="submit">Submit form>></button>
            </form>

        </div>
        <div class="column" style="background-color:lightblue;">
            <form action="/history" method="post">
            <h2>Summarization and Results
                <input type="submit" name="mode" value="Show plot history">
                <input type="submit" name="mode" value="Show calculation history"></h2>
            </form>
            {% if abstracts %}
            <form action="/" method="post">
                <!-- Which question to show (1 - {{abis["abnum"]}}) 
                <input type="number" name="abiEnter" min="1" max="{{abis["abnum"]}}"><button type="submit">Confirm</button><br> -->
                <b>Select which question to display [1-{{abis["abnum"]}}]</b><br>
                <input type="submit" name="abip" value="<previous">
                {% for i in abis["display"]%}
                {% if i <= 0 %}
                ...
                {% else %}
                    <input type="submit" name="abiClick" value="{{i}}">
                {% endif %}
                {% endfor %}
                <input type="submit" name="abin" value="next>"> ; Or jump to 
                <input type="number" name="abiEnter" min="1" max="{{abis["abnum"]}}"><button type="submit">Confirm</button><br>
            </form>
            <form action="/" method="post">
                <h3>-- Showing Question {{abis["abi"]}} -- <input type="submit" name="Reset{{abis["abi"]}}" value="Resummarize"></h3>
                
                <textarea name="Question{{abis["abi"]}}" cols="85" rows="2">{{abstracts[abis["abi"]-1].taskDesc}}</textarea>
                - Please check the summary of this question: <br><b>{{abstracts[abis["abi"]-1].interpret}}</b><br>
                {% for k,v in abstracts[abis["abi"]-1].conditions.items() %}
                    <b style="padding: 25px;">*  {{k}}: {{v}}</b><br>
                {% endfor %}
                - Are all the details correct?<br>
                <input type="radio" name="adding" value="{{abis["abi"]}}" form="details"><b>Add/Update details using the form | </b> 
                <input type="submit" name="Calculate{{abis["abi"]}}" value="Calculate"> |
                <input type="submit" name="Plot{{abis["abi"]}}" value="Draw plot(s)">
            </form>
                {% for info in abstracts[abis["abi"]-1].plotInfo %}
                <textarea cols="80" rows="4">{{info}}</textarea>
                {% endfor %}
                {% for pn in abstracts[abis["abi"]-1].plotNums %}
                <img src="static/plots/{{pn}}.png" alt="plot">
                {% endfor %}
                {% if abstracts[abis["abi"]-1].response %}
                <textarea readonly rows="4", cols="80">{% for resp in abstracts[abis["abi"]-1].response %}{{resp}}{% endfor %}</textarea><br><br>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>