<head>
    <title>Location</title>
</head>
<body>
    <h1 style="background-color: aqua;">Geolographical information finder</h1>
    <form action="/maps" method="post">
        <h2>Enter a place:</h2>
        <textarea name="place" cols="50" rows="1">{{location}}</textarea>
        <button type="submit">Search</button>
    </form>
    <a href="https://google.com/maps/place/{{location}}" target="_blank">See <b>{{location}}</b> on maps (for latitude, longitude, etc.)</a><br><br>
    <a href="https://google.com/search?q={{location}}+time+zone" target="_blank">Time zone of <b>{{location}}</b></a><br>
    <img src="{{url_for('static', filename='Image/yearth.png')}}" alt="sun" height="70%">
</body>

